.tab-wrapper
    display: flex
    flex-flow: column

    // prevents wide content from making the tab wrapper bigger than the screen
    // and forces it to scroll by itself
    overflow: hidden

    .tabrow
        // to prevent the top of the edit button from being clipped
        padding: 3px
        padding-left: 6px

        background-color: $foreground
        color: $background

        &.tabrow-notinverted
            background-color: $background
            color: $foreground

        .tabrow-button
            border-bottom: 3px solid transparent
            margin-right: 1em
            cursor: pointer
            // this causes buttons to wrap lines properly
            display: inline-block
            &>*
                vertical-align: middle

        .tabrow-button-selected
            border-bottom-color: $accent

        transition: margin-top 200ms, margin-bottom 200ms
        &.tabrow-hidden
            margin-top: -3em
            margin-bottom: 3em

    .tab-container
        // so that placeholder-help elements are centered properly
        position: relative

        flex: 1 1 auto
        flex-flow: column
        max-height: 100%
        overflow-y: auto

        display: flex

        .tab
            display: none
            padding: 1em
            width: 100%
            &.tab-visible
                display: flex
                flex-flow: column
                flex: 1 1 auto
